<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>LittleSend</string>
    <key>CFBundleDisplayName</key>
    <string>LittleSend</string>
    <key>CFBundleIdentifier</key>
    <string>com.kindleclip.KindleClip</string>
    <key>CFBundleExecutable</key>
    <string>LittleSend</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleIconFile</key>
    <string>LittleSend</string>
    <key>CFBundleIconName</key>
    <string>LittleSend</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>LittleSend reads the link in your browser so you don't have to paste it.</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
</dict>
</plist>
